apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: prometheus
  namespace: monitoring
spec:
  values:
    ports:
      web:
        port: 9090
    
    ingressRoute:
      dashboard:
        enabled: true
        entryPoints:
          - web
        matchRule: PathPrefix(`/prometheus`)