spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: "39.x.x"
      sourceRef:
        kind: HelmRepository
        name: traefik

  values:
    service:
      type: LoadBalancer

    # Service ports mapping
    ports:
      web:
        port: 80
        expose:
          default: true
        exposedPort: 80
        protocol: TCP
      websecure:
        port: 443
        expose:
          default: true
        exposedPort: 443
        protocol: TCP

    # API and dashboard
    api:
      dashboard: true

    # Providers
    providers:
      kubernetesIngress:
        enabled: true

    # EntryPoints for redirect (HTTP -> HTTPS)
    entryPoints:
      web:
        address: ":80"
        http:
          redirections:
            entryPoint:
              to: websecure
              scheme: https
              permanent: true
      websecure:
        address: ":443"