apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: "39.x.x"
      sourceRef:
        kind: HelmRepository
        name: traefik
  values:
    ports:
      web:
        port: 80
      websecure:
        port: 443

# Enables the dashboard in Secure Mode
    api:
      dashboard: true
    
    ingressRoute:
      dashboard:
        enabled: true
        entryPoints:
          - web
          - websecure
        matchRule: PathPrefix(`/dashboard`) || PathPrefix(`/api`)