apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 10m
  chart:
    spec:
      chart: traefik/traefik
      version: 3.x.x
      sourceRef:
        kind: HelmRepository
        name: traefik
      interval: 1h
  releaseName: traefik
  install:
    createNamespace: true
  values:
    additionalArguments:
      - "--providers.kubernetesgateway=true"
    ports:
      web:
        expose: true
        exposedPort: 80
      websecure:
        expose: true
        exposedPort: 443
    service:
      type: LoadBalancer
