apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: traefik-release
  namespace: traefik
spec:
  chart:
    spec:
      chart: traefik/traefik
      version: 3.x.x
      sourceRef:
        kind: HelmRepository
        name: traefik
      interval: 1h
  interval: 1m0s
  releaseName: traefik