apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: "39.x.x"
      sourceRef:
        kind: HelmRepository
        name: traefik
  values:
    ports:
      web:
        port: 80
        nodePort: 30000
        http:
          redirections:
            entryPoint:
              to: websecure
              scheme: https
              permanent: true
      websecure:
        port: 443
        nodePort: 30001

# Enables the dashboard in Secure Mode
    api:
      dashboard: true
      insecure: false