apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
      version: "39.x.x"
values:
  service:
    type: LoadBalancer

  ports:
    web:
      port: 80
      expose:
        default: true
      exposedPort: 80
      protocol: TCP
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

    websecure:
      port: 443
      expose:
        default: true
      exposedPort: 443
      protocol: TCP

  api:
    dashboard: true

  providers:
    kubernetesIngress:
      enabled: true
  